<h1>User info</h1>
Name
<%= @user.name %></br>
Introduction
<%= @user.profile %>
 <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.jpg" %>
  <% end %>

<h3>New Book</h3>
<%= form_with model:@book, local:true do |f| %>

<h4>title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %>

<br><%= f.submit 'Create Book' %></br>
<% end %>
